<!DOCTYPE html>
<html class="" lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/app-1.css">
  </head>

  <body>

    <div id="sb-site">

      <div id="main-content" style="padding-bottom: 100px;">
        <div id="job-detail">
          <div class="header">
            <div class="container">
              <div class="row">
                <div class="info-wrapper col-xs-12 col-md-6 col-lg-7 col-xl-8">
                  <div class="info">
                    <h1 class="title" title="Research Scientist, Amazon Echo">Research Scientist, Amazon Echo</h1>
                    <div class="details-line">
                      <p class="first">Job ID: 329390</p>
                      <p class="second">Amazon Corporate LLC</p>
                    </div>
                  </div>
                </div>
                <div class="apply-wrapper col-xs-12 col-md-6 col-lg-5 col-xl-4">
                  <div class="apply">
                    <div class="row">
                      <a class="btn btn-primary col-xs-8 col-xs-offset-2 col-md-9 col-lg-offset-3 col-lg-8" href="https://us-amazon.icims.com/jobs/329390/job?mode=apply">Apply now</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="content">
                  <div class="section">
                    <h3>DESCRIPTION</h3>
                    <p>Amazon is looking for a passionate, talented, and inventive Scientist with a strong machine learning background to help build industry-leading Speech and Language technology.
                      <br>Our mission is to provide a delightful experience to Amazon’s customers by pushing the envelope in Automatic Speech Recognition (ASR), Natural Language Understanding (NLU), Machine Learning (ML), and Audio Signal Processing technologies.
                      <br>As part of our speech and language team, you will work alongside internationally recognized experts to develop novel algorithms and modeling techniques to advance the state-of-the-art in spoken language understanding. Your work will
                      directly impact millions of our customers in the form of products and services that make use of speech and language technology. You will gain hands on experience with Amazon’s heterogeneous speech, text, and structured data sources,
                      and large-scale computing resources to accelerate advances in spoken language understanding. It is not imperative to have experience in ASR. We have scientists building production models released to Echo customers, who had no prior speech
                      experience, but very strong in ML, statistics, coding (and “can do” spirit!).
                      <br>We are hiring in all areas of spoken language understanding: ASR, NLU, text-to-speech (TTS), and Dialog Management.
                      <br>
                      <br>
                    </p>
                  </div>
                  <div class="section">
                    <h3>BASIC QUALIFICATIONS</h3>
                    <p>BASIC Qualifications:
                      <br>· Graduate degree (MS or PhD) in Electrical Engineering, Computer Sciences, or Mathematics with specialization in speech recognition, natural language processing, or machine learning.
                      <br>· Familiarity with programming languages such as C/C++, Python, Java or Perl.</p>
                  </div>
                  <div class="section">
                    <h3>PREFERRED QUALIFICATIONS</h3>
                    <p>Preferred Qualifications:
                      <br>· Experience in building speech recognition and natural language processing systems (e.g., commercial speech products or government speech projects)
                      <br>· Solid Machine Learning background and familiar with standard speech and machine learning techniques.
                      <br>· Scientific thinking and the ability to invent, a track record of thought leadership and contributions that have advanced the field
                      <br>· Solid software development experience
                      <br>· Good written and spoken communication skills.</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
